/* Import von Roboto-Schriftart */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Variablen */
:root {
    --blue-main: #303f9f;
    --blue-light: #666ad1;
    --blue-dark: #001970;
    --black: rgba(0, 0, 0, 0.87);
    --white: #ffffff;
    --grey-dark: #808080;
    --grey-bright: #F5F5F6;
    --shadow:  0 .125rem .25rem rgba(0,0,0,.075);
}

*, ::after, ::before {
    box-sizing: border-box;
}

body, header, nav ul, article, aside {
    display: flex;
    flex-direction: column;
    line-height: 1.25;
}

hr {
    border-top: 1px solid var(--black);
    margin-top: 1rem;
}
.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--grey-bright);
    color: var(--black);
/*    Damit Footer immer unten ist.*/
    min-height: 100vh;
}

header.main-header {
    background-color: var(--blue-dark);
    color: var(--white);
}

header h1 {
    font-size: 1.75rem;
}

header .header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .header-bar .user-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-bar .user-info h3 {
    padding-right: 1rem;
}

header .header-nav {
    background-color: var(--blue-light);
    color: var(--black);
    box-shadow: var(--shadow);
}

header .header-nav li {
    cursor: pointer;
    padding: .25rem 0;
}

header .header-nav li:hover {
    color: var(--blue-dark);
}


button {
    cursor: pointer;
    margin-top: .5rem;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: var(--shadow);
    background-color: var(--blue-main);
    transition: background-color .3s;
    color: white;
    padding: .5rem;
}

button:hover, button:focus {
    background-color: var(--blue-dark);
}

header button {
    background-color: var(--grey-bright);
    color: var(--black);
    margin-top: 0;
}

header button:hover, header:focus {
    background-color: var(--grey-dark);
}

footer.main-footer {
    border-top: 1px solid var(--grey-dark);
    color: var(--black);
    margin-top: auto;
    font-size: .9rem;
}

main h2 {
    font-weight: bold;
    font-size: 1.75rem;
}

main h3 {
    font-weight: bold;
    font-size: 1.25rem;
}

main .content {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 2px;
}

main .edit-area {
    margin-top: 1rem;
    margin-bottom: .5rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 2px;
}

.posts li {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 2px;
}

#firstSection {
    margin-bottom: 1rem;
}

#thirdSection {
    margin-top: 1rem;
}

#thirdSection li {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 2px;
}

#thirdSection .comment-info {
    margin-bottom: .5rem;
}

p.title-text {
    color: var(--blue-main);
    font-weight: bold;
}

p.date-text {
    color: var(--grey-dark);
    font-style: italic;
    font-size: .9rem;
}

.info-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.info-box .info-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.info-box .info-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input {
    display: block;
    width: 100%;
    padding: .5rem;
    color: var(--grey-dark);
    border: 1px solid var(--grey-dark);
    border-radius: 2px;
    margin: .5rem 0;
}

fieldset .field-box {
    margin-top: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: var(--shadow);
    border-radius: 2px;
}

fieldset label {
    font-weight: bold;
    font-size: 1.25rem;
}