/* Color Theme */
@import "node_modules/materialize-css/sass/components/color-variables";
$primary-color: color("deep-orange", "base") !default;
$secondary-color: color("deep-orange", "lighten-1") !default;

/* Materialize */
@import 'node_modules/materialize-css/sass/materialize';

/* Custom CSS */
header, main, footer {
  padding-left: 300px;
  @media only screen and (max-width: 992px) {
    padding-left: 0;
  }
}