/* Boostrap Overrides */

body {
  padding-top: 4.5rem;
}

@import "node_modules/bootstrap/scss/bootstrap";

/* Main Styles */
.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}