/* Color Theme */
@import "node_modules/materialize-css/sass/components/color-variables";

$primary-color: color("deep-orange", "base") !default;
$secondary-color: color("deep-orange", "lighten-1") !default;

/* Materialize */
@import 'node_modules/materialize-css/sass/materialize';

/* Rect Draft WYSIWYG */
@import "node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg";

/* Custom CSS */
header, main, footer {
  padding-left: 300px;
  @media only screen and (max-width: 992px) {
    padding-left: 0;
  }
}

.modal {
  left: 300px;
  @media only screen and (max-width: 992px) {
    left: 0;
  }
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.comment-image {
  width: 200px;
}

.chip:focus {
  background-color: $secondary-color;
}

.chips.focus{
  border-bottom: 1px solid $primary-color;
  box-shadow: 0 1px 0 0 $secondary-color;
}

.pointer {
  cursor: pointer;
}