/* Color Theme */
@import "node_modules/materialize-css/sass/components/color-variables";

$primary-color: color("blue-grey", "lighten-2") !default;

/* Materialize */
@import 'node_modules/materialize-css/sass/materialize';

/* Rect Draft WYSIWYG */
@import "node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg";

/* Overrides */
html {
  background-color: color("grey", "lighten-4");
}

header, main, footer {
  padding-left: 300px;
  @media only screen and (max-width: 992px) {
    padding-left: 0;
  }
}

.progress {
  background-color: transparent;
}

.modal {
  left: 300px;
  @media (max-width: 992px) {
    left: 0;
  }
}

.absolute-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p {
  word-wrap: break-word;
}

/* Custom CSS */
.pointer {
  cursor: pointer;
}

li .active {
  background-color: color("grey", "lighten-3");
}